<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430093960033-10b0fp36lqakhn4lehl96gmf9ka3pg3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430093960033-10b0fp36lqakhn4lehl96gmf9ka3pg3d</string>
	<key>API_KEY</key>
	<string>AIzaSyDIfgjJ3FB7_PSKxP7i6zdT7SgpOFanpE0</string>
	<key>GCM_SENDER_ID</key>
	<string>430093960033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppTESTING</string>
	<key>PROJECT_ID</key>
	<string>chatapp-228a2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-228a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430093960033:ios:47ff9989425f1cc056fb20</string>
</dict>
</plist>